.reason-card {
  display: flex;
  flex-direction: column;
  row-gap: fluid(50, 30);
  align-items: center;
  height: 100%;

  &__header {
    display: grid;
    row-gap: fluid(20, 10);
    align-items: center;
    position: relative;
  }

  &__title {
    text-align: center;
    color: var(--color-white);
  }

  &__image-wrapper {
    @include flex-center;

    margin-bottom: fluid-to-laptop(30, 20);

    &::after,
    &::before {
      @include abs-x;

      content: "";
      border-radius: 50%;
    }

    &::after {
      width: fluid(92, 56);
      height: fluid(92, 56);
      background-color: var(--color-gray-10);
      z-index: 10;
      box-shadow: 16px 12px 9px 2px rgba(255, 255, 255, 0.10) inset;

    }

    &::before {
      width: fluid(102, 62);
      height: fluid(102, 62);
      background-color: var(--color-gray-30);
      z-index: 1;
    }
  }

  &__image {
    position: relative;
    z-index: 100;
    width: fluid(44, 26);
    height: fluid(44, 26);
    pointer-events: none;
  }

  &__description {
    text-align: center;
  }

  &__button {
    margin-top: auto;
  }
}