.badge {
  display: flex;
  align-items: center;
  padding: 8px 14px 8px 8px;
  background-color: var(--color-gray-06);
  column-gap: 10px;
  border: var(--border);
  border-radius: 100px;
  max-height: 64px;

  &__image-wrapper {
    @include flex-center;

    background-color: var(--color-gray-10);
    padding: fluid-to-laptop(12, 10);
    border: var(--border);
    border-radius: 100px;
  }

}