.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3em;
  padding: 18px 24px;
  color: var(--color-white);
  background-color: var(--color-gray-10);
  border: var(--border);
  border-radius: 100px;

  &__icon {
    display: flex;
    align-items: center;
  }

  @include hover {
    color: var(--color-white-80);
    background-color: var(--color-gray-25);
  }

  &--gradient {
    background: linear-gradient(180deg, var(--color-gray-10) 0%, rgba(26, 26, 26, 0.00) 100%);
    transition-duration: var(--transition-duration);

    @include hover {
      background: linear-gradient(180deg, var(--color-gray-30) 0%, var(--color-gray-10) 100%);
    }
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-black);
  }

  &--icon-bg {
    background-color: transparent;
    border: var(--border);
    padding: fluid-to-laptop(18, 10);

    .button__icon {
      @include flex-center(true);

      padding: fluid-to-laptop(10, 6) fluid-to-laptop(20, 14);
      background-color: var(--color-gray-10);
      color: var(--color-white);
      border-radius: 100px;
    }
  }
}
