.button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.3em;
  padding: 20px;
  color: var(--color-white);
  background-color: var(--color-gray-10);
  border: var(--border);
  border-radius: 100px;

  @include hover {
    color: var(--color-white-80);
    background-color: var(--color-gray-25);
  }

  &--gradient {
    background: linear-gradient(180deg, var(--color-gray-10) 0%, rgba(26, 26, 26, 0.00) 100%);
    transition-duration: var(--transition-duration);

    @include hover {
      background: linear-gradient(180deg, var(--color-gray-30) 0%, var(--color-gray-10) 100%);
    }
  }
}
