.grid {
  --gridColumns: 1;

  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  align-items: stretch;

  &--3 {
    --gridColumns: 3;


    @include tablet {
      --gridColumns: 2;
    }

    @include mobile {
      --gridColumns: 1;
    }
  }

  &--bordered {
    .grid__item {
      padding-top: 40px;

      &:not(:nth-child(3n)) {
        @include tablet-above {
          padding-right: fluid-to-laptop(50, 40);
          border-right: var(--border);
        }
      }

      &:not(:nth-child(3n + 1)) {
        @include tablet-above {
          padding-left: fluid-to-laptop(50, 40);
        }
      }

      &:not(:nth-last-child(-n+3)) {
        @include tablet-above {
          padding-bottom: fluid-to-laptop(50, 40);
          border-bottom: var(--border);
        }
      }

      &:nth-last-child(-n+3) {
        @include tablet-above {
          padding-top: fluid-to-laptop(50, 40);
        }
      }

      &:not(:nth-child(2n)) {
        @include tablet {
          padding-right: 40px;
          border-right: var(--border);
        }

        @include mobile {
          padding-right: 0;
          border-right: none;
        }
      }

      &:not(:nth-child(2n+1)) {
        @include tablet {
          padding-left: 40px;
        }

        @include mobile {
          padding-left: 0;
        }
      }

      &:not(:nth-last-child(-n+2)) {
        @include tablet {
          padding-bottom: 40px;
          border-bottom: var(--border);
        }
      }

      @include mobile {
        &:not(:last-child) {
          padding-bottom: 40px;
          border-bottom: var(--border);
        }
      }
    }
  }

}