.ordered-list {
  display: grid;
  row-gap: fluid(100, 50);
  counter-reset: custom-counter;
  list-style: none;

  &__item {
    display: flex;
    column-gap: fluid-to-laptop(50, 40);
    counter-increment: custom-counter;

    @include tablet {
      flex-direction: column;
      row-gap: 30px;
    }

    &::before {
      content: counter(custom-counter, decimal-leading-zero);
      min-width: fluid(124, 84);
      height: fluid(73, 37);
      font-weight: 600;
      color: var(--color-white);
      font-size: fluid(100, 50);
    }

    &-inner {
      display: grid;
      row-gap: fluid(50, 20);
    }

    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 1rem;
    }

    &-title {
      @include fluid-text(28, 18);

      color: var(--color-white);
    }

    &-date {
      color: var(--color-white);
      display: flex;
      align-items: center;
      column-gap: 10px;
      padding: fluid(14, 8) fluid(18, 10);
      border: var(--border);
      border-radius: 100px;
    }

    &-body {
      @include fluid-text(22, 16);

      display: grid;
      row-gap: fluid(14, 10);
      color: var(--color-white);
      background-image: linear-gradient(to right, var(--color-gray-06) 80%, rgba(31, 31, 31, 0.4) 100%);
      padding: fluid(50, 24);
      border: var(--border);
      border-radius: fluid-to-laptop(20, 16);
    }

    &-description {
      @include fluid-text(18, 14);
      color: var(--color-white-55);
    }
  }
}