.contact-banner {
  padding-block: var(--section-padding-y);
  padding-inline: var(--container-padding-x);

  &__inner {
    @include flex-center;

    background: url("../../assets/images/HeroAlt/hero-alt-bg.png") top center;
    flex-direction: column;
    row-gap: fluid-to-laptop(30, 24);
    text-align: center;
    padding-block: fluid(150, 50);
    position: relative;
    border: var(--border);
    border-radius: 20px;
  }

  &__title {
    span {
      color: var(--color-white);
    }
  }

  &__description {
    max-width: 1100px;
  }

  &__badge {
    min-width: 360px;
    position: absolute;
    left: 50%;
    top: 100%;
    translate: -50% -50%;
    color: var(--color-white);
    background-color: var(--color-gray-06);
    border: var(--border);
    border-radius: 100px;
    padding: fluid-to-laptop(14, 10) fluid-to-laptop(24, 20);
  }
}