.section {
  display: grid;
  row-gap: fluid(100, 50);
  padding-block: var(--section-padding-y);

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(20, 10);
  }

  &__title {
    text-align: center;

    span {
      color: var(--color-white);
    }
  }

  &__description {
    text-align: center;
    max-width: 1156px;
  }
}
