.location-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: fluid(50, 24);
  padding: fluid(80, 50) fluid(50, 24);
  border: var(--border);
  border-radius: 20px;
  background: url("../../assets/images/HeroAlt/hero-alt-bg.png") top center, radial-gradient(circle at top right, rgba(255, 255, 255, 0.04), transparent 60%),
  linear-gradient(180deg, rgba(32, 32, 32, 0.05) 0%, rgba(32, 32, 32, 0.00) 100%);
  border-image: linear-gradient(to bottom, var(--color-gray-12), transparent);

  &__image-wrapper {
    @include flex-center;
    position: relative;

    &:not(:last-child) {
      margin-bottom: fluid(50, 24);
    }

    &::after,
    &::before {
      @include abs-y;

      content: "";
      border: 2px solid #333;
      border-radius: 50%;
    }

    &::after {
      width: fluid(84, 50);
      height: fluid(84, 50);
      background: linear-gradient(180deg, #1A1A1A 50%, rgba(26, 26, 26, 0.00) 100%);
      z-index: 10;
    }

    &::before {
      width: fluid(132, 86);
      height: fluid(132, 86);
      background: linear-gradient(180deg, #1A1A1A 50%, rgba(26, 26, 26, 0.00) 100%);
      z-index: 1;
    }
  }

  &__image {
    position: relative;
    z-index: 100;
    width: fluid-to-laptop(44, 26);
    height: fluid-to-laptop(44, 26);
    pointer-events: none;
  }

  &__details {
    display: grid;
    row-gap: fluid(20, 10);
    text-align: center;
  }

  &__title {
    color: var(--color-white);
    font-weight: 400;
  }

  &__address {

  }

  &__button {
    column-gap: fluid-to-laptop(20, 14);
  }
}