.showcase-card {
  --initialMaxHeight: 201px;

  padding: fluid(50, 20);
  display: flex;
  flex-direction: column;
  row-gap: fluid-to-laptop(50, 40);
  border: var(--border);
  border-radius: 20px;

  &:not(.is-expanded) {
    .showcase-card {
      &__body {
        overflow: hidden;
        max-height: var(--initialMaxHeight);
      }

      &__list {
        transition-duration: var(--transition-duration-longer);

        @include hide;
      }
    }

  }

  &__image-wrapper {
    @include flex-center;
  }

  &__image {
    border: var(--border);
    border-radius: 20px;
    mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0)
    );
  }

  &__header {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    @include tablet-above {
      justify-content: space-between;
    }

    @include tablet {
      flex-direction: column-reverse;
      row-gap: 24px;
    }

    &-title {
      @include fluid-text(28, 20);

      color: var(--color-white);

      @include tablet {
        align-self: start;
      }
    }

    &-button {
      display: flex;
      align-items: center;
      column-gap: fluid-to-laptop(14, 10);
      color: var(--color-gray-40);
      background-color: transparent;
      border: none;
      transition-duration: var(--transition-duration);

      @include hover {
        color: var(--color-white-70);
      }


      &::after {
        content: "";
        width: fluid(76, 32);
        height: fluid(76, 32);
        background: url("../../assets/icons/arrow-button-white-top.svg") center/50% no-repeat,
        linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0.00) 100%);
        border: 1px solid #262626;
        border-radius: 50%;
        rotate: 180deg;
        transition-duration: var(--transition-duration);
      }

      &.is-expanded {
        &::after {
          rotate: 0deg;
        }
      }
    }
  }

  &__badges {
    display: flex;
    gap: fluid-to-laptop(10, 8);
    flex-wrap: wrap;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: fluid(50, 24);
    padding: fluid(50, 20);
    border: var(--border);
    border-radius: 20px;
  }

  &__definition {
    display: grid;
    row-gap: fluid-to-laptop(14, 10);
  }

  &__title {
    @include fluid-text(22, 18);

    color: var(--color-white);
    font-weight: 400;
  }

  &__list {
    width: 100%;
    display: grid;
    row-gap: fluid-to-laptop(30, 20);
  }

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: fluid(50, 10);
    padding: fluid-to-laptop(50, 40);
    border: var(--border);
    border-radius: 20px;

    @include tablet {
      justify-content: center;
    }


    &:has(.showcase-card__category) {
      justify-content: center;

      @include tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 10px;
      }
    }


  }

  &__category {
    box-sizing: content-box;
    width: 9.4vw;
    max-width: 182px;

    @include laptop {
      width: 11.8vw;
      max-width: 170px;
    }

    @include tablet {
      width: 100%;
      max-width: initial;
    }

    &:not(:last-child) {
      @include tablet-above {
        padding-right: fluid(50, 10);
        border-right: var(--border);
      }
    }

    &-title {
      @include fluid-text(18, 12);

      color: var(--color-white-55);
      text-wrap: nowrap;
    }

    &-metric {
      @include fluid-text(20, 14);

      color: var(--color-white);
      font-weight: 400;
    }
  }

  &__technologies {
    display: flex;
    align-items: center;
    column-gap: fluid-to-laptop(50, 40);

    @include tablet {
      flex-direction: column;
      row-gap: 10px;
    }

    &-title {
      color: var(--color-white);
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: fluid(50, 10);
    }

    &-item {
      @include flex-center;

      padding: fluid(14, 10);
      background: linear-gradient(180deg, #1A1A1A 0%, rgba(26, 26, 26, 0.00) 100%);
      border: 2px solid #333;
      border-radius: 50%;
    }

    &-image {
      width: fluid(28, 20);
    }
  }

  &__team {
    width: 100%;
    display: grid;
    row-gap: fluid(30, 10);

    &-title {
      color: var(--color-white);
    }

    &-list {
      width: 100%;
      display: flex;
      column-gap: fluid-to-laptop(30, 20);

      @include tablet {
        row-gap: 12px;
        flex-wrap: wrap;
      }
    }
  }

  &__methods {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: fluid(30, 10);

    &-title {
      color: var(--color-white);
    }

    &-list {
      width: 100%;
      display: flex;
      gap: fluid(50, 10);
      align-items: center;
      flex-wrap: wrap;


      @include tablet-above {
        padding: fluid-to-laptop(30, 24) fluid-to-laptop(50, 40);
        border: var(--border);
        border-radius: 20px;
        justify-content: center;
      }

    }

    &-item {
      color: var(--color-white);
      padding: fluid(18, 8) fluid(24, 10);
      border: var(--border);
      border-radius: 100px;


      @include tablet {
        color: var(--color-white-65);
      }
    }
  }
}