.field {
  position: relative;
  width: 100%;
  max-width: 434px;

  &:has(.field__control:not(:placeholder-shown)) .field__label {
    scale: 0.8;
    translate: -2.75em -3em;
    color: var(--color-white);
  }

  &__label {
    font-size: fluid-to-laptop(18, 16);
    color: var(--color-gray-40);
    position: absolute;
    top: 50%;
    left: 60px;
    translate: 0 -50%;
  }

  &__control {
    width: 100%;
    padding: 18px 24px;
    height: 60px;
    background-color: var(--color-gray-10);
    color: var(--color-white);
    border: var(--border);
    border-radius: 100px;

    &[type="search"] {
      &:placeholder-shown {
        padding-left: calc(18px * 2 + 24px);
        background-image: url("../../assets/icons/search.svg");
        background-position: 18px 50%;
        background-size: 24px;
        background-repeat: no-repeat;
      }
    }
  }



  textarea.field__control {
    min-height: fluid(163, 109);
    padding-block: fluid-to-laptop(20, 16);
    resize: vertical;
  }
}
