.field {
  display: grid;
  row-gap: fluid(14, 8);
  width: 100%;
  max-width: 445px;

  &:has(textarea) {
    width: auto;
    max-width: none;
  }

  &__label {
    font-size: fluid-to-laptop(18, 16);
    color: var(--color-white);
  }

  &__control {
    width: 100%;
    padding: fluid-to-laptop(20, 16) fluid-to-laptop(24, 20);
    height: fluid(67, 53);
    color: var(--color-white);
    background-color: var(--color-gray-06);
    border: var(--border);
    border-radius: 100px;

    &[type="search"] {
      &:placeholder-shown {
        padding-left: calc(18px * 2 + 24px);
        background-image: url("../../assets/icons/search.svg");
        background-position: 18px 50%;
        background-size: 24px;
        background-repeat: no-repeat;
      }
    }
  }


  textarea.field__control {
    min-height: fluid(153, 104);
    padding: fluid-to-laptop(20, 16) fluid-to-laptop(24, 20);
    resize: vertical;
    border-radius: 20px;
  }
}
