.join-us {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: fluid(80, 50) fluid(80, 24);
  row-gap: fluid-to-laptop(50, 40);
  border: var(--border);
  border-radius: 20px;

  &__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: 14px;
  }

  &__title {
    color: var(--color-white);
    font-weight: 400;
  }

  &__description {
    max-width: 940px;
  }
}