.category-item {
  display: flex;
  flex-direction: column;
  row-gap: fluid(80, 30);

  &__header {
    display: grid;
    row-gap: fluid-to-laptop(14, 10);
  }

  &__title {
    @include fluid-text(28, 20);

    color: var(--color-white);
  }

  &__list {
    display: grid;
    row-gap: 30px;

    @include tablet {
      row-gap: 20px;
    }
  }

  &__item {
    display: grid;
    row-gap: fluid(50, 30);
    padding: fluid(50, 30);
    border: var(--border);
    border-radius: fluid-to-laptop(20, 16);

    &-header {
      display: grid;
      row-gap: fluid(14, 8);
    }

    &-title {
      @include fluid-text(28, 20);

      color: var(--color-white);
    }

    &-cell {
      display: grid;
      row-gap: fluid(14, 8);

      &-title {
        color: var(--color-white-80);
        font-weight: 600;
      }
    }

    &-image-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 30px;
      position: relative;
      z-index: 1;

      @include tablet {
        column-gap: 10px;
      }
    }

    &-image {
      border-radius: fluid(20, 10);
      mask-image: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 1) 20%,
          rgba(0, 0, 0, 0) 100%
      );
    }

    &-button {
      position: absolute;
      left: 50%;
      top: 100%;
      translate: -50% -50%;
      z-index: 10;
      text-wrap: nowrap;
    }

    &-projects {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }

    &-project {
      padding: 20px;
      border: var(--border);
      border-radius: var(--border-radius-l);

      &-cell {
        display: grid;
        row-gap: 10px;

        &:not(:first-child) {
          padding-top: 20px;
        }

        &:not(:last-child) {
          padding-bottom: 20px;
          border-bottom: var(--border);
        }
      }

      &-title {
        font-size: 16px;
        color: var(--color-white);
      }
    }
  }


}