.work-card {
  padding: fluid(50, 24);
  border: var(--border);
  border-radius: 20px;
  background: linear-gradient(180deg, #1A1A1A -26.18%, rgba(26, 26, 26, 0.00) 59.52%);
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: fluid(76, 44);
  height: 100%;

  &__image-wrapper {
    @include flex-center;

    width: 100%;
    padding-block: fluid(105, 50);
    position: relative;
    background: url('/works/bg.png') 50% / cover no-repeat;
    border: var(--border);
    border-radius: 20px;
  }

  &__image {
    width: fluid(200, 100);
    height: fluid(200, 100);
  }

  &__button {
    @include abs-y;

    top: 100%;
    translate: 0 -50%;
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: fluid(24, 16);
  }

  &__title {
    color: var(--color-white);
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 0.5rem;
    color: var(--color-white);
  }
}