.online-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: fluid(50, 20);
  padding: fluid(80, 30);
  border: var(--border);
  border-radius: 20px;

  &__inner {
    --gridColumns: 3;

    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    gap: fluid(50, 20);

    @include tablet {
      --gridColumns: 2;
    }

    @include mobile {
      --gridColumns: 1;
      align-items: center;
    }
  }

  &__field {
    &:last-child:nth-child(3n + 1) {
      grid-column: 1 / -1;
    }
  }

  &__button {
    align-self: center;
  }
}