.header {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
  padding-block: fluid(22, 14);
  animation-name: scrolling-header;
  border-bottom: var(--border-width-s) solid transparent;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 0 100px;

  @keyframes scrolling-header {
    to {
      padding-block: 10px;
      background-color: var(--color-gray-06);
      border-color: var(--color-gray-12);
    }
  }

  &.is-fixed {
    position: fixed;
  }


  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 16px;
  }

  &__overlay-menu-dialog {
    position: fixed;
    inset: 0;
    flex-direction: column-reverse;
    justify-content: start;
    row-gap: 16px;
    width: 100%;
    height: 100%;
    padding: var(--container-padding-x);
    background-color: var(--color-gray-06);
    border: none;
    transition-duration: var(--transition-duration);
    transition-behavior: allow-discrete;

    @include tablet-above {
      display: contents;
    }

    @mixin starting-styles {
      opacity: 0;
      translate: 50%;
    }

    @include tablet {

      &[open] {
        display: flex;

        @starting-style {
          @include starting-styles;
        }
      }

      &:not([open]) {
        @include starting-styles;
      }
    }
  }

  &__menu {
    @include tablet {
      overflow-y: auto;
      display: flex;
      justify-content: center;
      height: 100%;
      border-radius: 0;
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: 6px;

      @include tablet {
        flex-direction: column;
        row-gap: 16px;
        margin-block: auto;
      }
    }

    &-link {
      padding: 14px 20px;
      color: var(--color-white);

      &.is-active {
        background-color: var(--color-gray-10);
        border: var(--border);
        border-radius: 100px;
        pointer-events: none;
      }
    }
  }

  &__burger-button {
    position: relative;
  }
}
